.industry{
    color: #F44336;
}
.production{
    color: #673AB7;
}
.promotion{
    color: #FF9800;
}
.primary_text{
    font-family:Orbitron;
    font-weight: 700;
}
.secondry_text{
    font-family:Orbitron;
    font-weight: 400;
    color: #838B92;
}
.subscribe{
    background-color: #FF0200;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 5px 22px;
}
.cards {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .cards:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  }
  